<ion-app>
  <ion-content>
    <div class="app">
      <div class="form-header">
        <ion-img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Pinterest_Logo.svg/2560px-Pinterest_Logo.svg.png"
          class="logo-image"
        ></ion-img>
      </div>
      <form class="app-form">
        <ion-input
          placeholder="E-mail"
          type="email"
          fill="outline"
          class="form-input"
        ></ion-input>
        <ion-input
          placeholder="Senha"
          type="password"
          fill="outline"
          class="form-input"
        ></ion-input>
        <ion-button type="submit" color="danger">Cadastrar-se</ion-button>
      </form>
      <ul class="lista-de-opcoes">
        <li class="selecionado">Cadastro</li>
        <li>Entrar</li>
      </ul>
    </div>
  </ion-content>
</ion-app>
